---
import { Databases, Models, Query } from "appwrite";
import Create from "../../../../../components/global/create.svelte";
import Layout from "../../../../../layouts/Layout.astro";
import { appwriteDatabases } from "../../../../../lib/backend";
import { COLLECTION, DB_ID } from "../../../../../lib/ids";

let classID = Astro.params.id as string
let unitID = Astro.params.unit as string

let user = Astro.cookies.get('user').value as string;
let username = Astro.cookies.get('userName').value as string;

let unitName = (await appwriteDatabases.getDocument(DB_ID, COLLECTION.Units, unitID)).Name

var groupBy = function(xs: Array<any>, key: any) {
  return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};


let lessons: Models.Document[][] = await appwriteDatabases.listDocuments(DB_ID, COLLECTION.CCNote, [
    Query.equal("Unit", unitID),
    Query.orderAsc("Name"),
    Query.orderDesc("LastUpdated")
]).then(x => x.documents).then(docs => {
    let newdict = groupBy(docs, "Name")
    let newarr = []
    for(let [key, val] of Object.entries(newdict)) newarr.push(val);
    newarr.sort((a: any, b: any) =>  Date.parse(b[0].$createdAt) - Date.parse(a[0].$createdAt))
    return newarr as Models.Document[][]
})
---
<Layout title="Unit Page" login={true}>
    <div class="flex flex-col pt-5 min-h-screen w-[100%]">
        <div class="row">
            <div class="col-12">
                <h1 class="text-4xl font-semibold text-center">{unitName}</h1>
                <div class="flex flex-col gap-5 items-center p-12">
                    <Create AuthorName={username} AuthorUid={user} {unitID} client:only />
                    {lessons.map(lesson =>
                        <div class="w-full items-center flex flex-col gap-3">
                            <h1 class="text-2xl">{lesson[0].Name}</h1>
                            {lesson.map(note => 
                            <div style="cursor: pointer;" class="card w-[26rem] sm:w-7/12 h-24 sm:h-20 bg-slate-400">
                                <div onclick={`window.location = "/class/${classID}/services/draftonn/doc/${note.$id}"`} style="cursor: pointer;" class="text-xl items-center justify-center">
                                    <h1 class="text-xl pt-[5%] sm:pt-5 text-center">{note.Description} by {note.AuthorName}</h1>
                                </div>
                            </div>)}
                        </div>
                    )}
                </div>
            </div>
        </div>
    </div>
</Layout>