---
export interface Props {
	title: string;
	path?: string;
}

const { title,path } = Astro.props;


import DraftOnn from '../components/images/DraftOnn.png';
import { appwriteDatabases, appwriteUser } from '../lib/backend';
import { Query } from 'appwrite';
import {DB_ID, COLLECTION} from "../lib/ids"

let user = Astro.cookies.get('user').value as string;
let Name = Astro.cookies.get('userName').value;
let session = Astro.cookies.get('session').value;
let loggedIn =  session && session !== 'undefined';

let Docs = [] as any[]
let Todo = [] as any[]
let Drawings = [] as any[]

if (loggedIn) {
	await appwriteDatabases.listDocuments(
		DB_ID,
		COLLECTION.Notes, 
		[
			Query.search('AuthorUid', user),
			Query.orderDesc("LastUpdated"),
			Query.limit(10)
		])
		.then((response) => {
			Docs = response.documents as any[];
		})

	await appwriteDatabases.listDocuments(
		DB_ID,
		COLLECTION.Todo, 
		[
			Query.search('AuthorUid', user),
			Query.orderDesc("LastUpdated"),
			Query.limit(10)
		])
		.then((response) => {
			Todo = response.documents as any[];
		})

	await appwriteDatabases.listDocuments(
		DB_ID,
		COLLECTION.Drawing, 
		[
			Query.search('AuthorUid', user),
			Query.limit(10)
		])
		.then((response) => {
			Drawings = response.documents as any[];
		})
} else {
	Docs = []
	Todo = []
	Drawings = []
}
import Create from '../components/global/create.svelte';
import Feedback from '../components/global/feedback.svelte';
---
<script>
	import { appwriteUser } from "../lib/backend";


	let LogOutBtn = document.getElementById('logout') as HTMLAnchorElement;

	LogOutBtn.onclick = function logOut() {
		window.location.href = '/login';
		appwriteUser.deleteSession('current').then(() => {
			document.cookie = `user=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
			document.cookie = `userName=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
			document.cookie = `session=; expires=${new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
			window.location.href = '/';
		});
	}
</script>
<!DOCTYPE html>
<html lang="en" class="bg-[#e9edf0] text-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
<div class="grid">
	<button class="btn btn-ghost block sm:hidden w-full" id="navCloseBtn">
		⨯
	</button>
	<nav>
		<!--  an arrow that is on the edge of the nav -->
		{loggedIn ? (
			<div>
			<div class="flex flex-row justify-center">
			<a class="btn btn-ghost w-auto h-auto" href="/dashboard/~"><img src={DraftOnn.src} class="h-16 w-16"/></a>
			</div>
			<div class="flex justify-center pt-1">
				<div class="block sm:hidden">
				<a class=" btn text-gray-800 bg-gray-200 items-center hover:bg-gray-300 mr-2" href="/dashboard">Home</a>
				</div>
				<Create client:only="Svelte" AuthorName={Name} AuthorUid={user} docLocation={path} />
			</div>
			<h1 class="text-xl font-semibold text-center pt-5">Recents</h1>
			<div class="collapse collapse-arrow bg-transparent w-1/2 sm:w-[17vw] mx-auto rounded-lg">
				<input type="radio" name="my-accordion-1" checked="checked" /> 
				<div class="collapse-title text-md font-medium">
					Notes
				</div>
				<div class="collapse-content"> 
					<div class="flex flex-col pl-3 gap-1">
						{Docs.map((doc) => (
							<div class="flex flex-row">
								<a href={`/doc/${doc.$id}`} class="text-sm text-black rounded-md w-full mr-2">{doc.Name}</a>
							</div>
						))}
					</div>
				</div>
			</div>
			<div class="collapse collapse-arrow bg-transparent w-1/2 sm:w-[17vw] mx-auto rounded-lg">
				<input type="radio" name="my-accordion-1"/> 
				<div class="collapse-title text-md font-medium">
					Todo
				</div>
				<div class="collapse-content"> 
					<div class="flex flex-col pl-3 gap-1">
						{Todo.map((todo) => (
							<div class="flex flex-row">
								<a href={`/todo/${todo.$id}`} class="text-sm text-black rounded-md w-full mr-2">{todo.Name}</a>
							</div>
						))}
					</div>
				</div>
			</div>
			<div class="collapse collapse-arrow bg-transparent w-1/2 sm:w-[17vw] mx-auto rounded-lg">
				<input type="radio" name="my-accordion-1"/> 
				<div class="collapse-title text-md font-medium">
					Drawings
				</div>
				<div class="collapse-content"> 
					<div class="flex flex-col pl-3 gap-1">
						{Drawings.map((drawing) => (
							<div class="flex flex-row">
								<a href={`/draw/${drawing.$id}`} class="text-sm text-black rounded-md w-full mr-2">{drawing.Name}</a>
							</div>
						))}
					</div>
				</div>
			</div>
			<div class="text-2xl pb-1 bottom-0 absolute w-full">
				<button class="btn btn-ghost w-full" onclick="Feedback.showModal()">Give Feedback!</button>
				<Feedback client:only="Svelte" Name={Name} />
				<a class="btn btn-ghost w-full" id="logout">Logout→</a>
				<a class="btn btn-ghost hover:bg-transparent w-full text-xl pt-5 block sm:hidden">≡</a>
			</div>
			</div>
		) : (
			<div>
			<div class="flex flex-row justify-center text-2xl">
				<div class="tooltip" data-tip="Home">
				<a class="btn btn-ghost" href="/">🏠</a>
				</div>
				<div class="tooltip" data-tip="Login">
				<a class="btn btn-ghost" href="/login">🔑</a>
				</div>
				<div class="tooltip" data-tip="Signup">
				<a class="btn btn-ghost" href="/signup">📝</a>
				</div>
			</div>
			</div>
		)}
	</nav>
	<body>
		<slot />
	</body>
</div>
</html>
<style is:global>
	:root {
		background-color: #e9edf0;
		color: #000000;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #e9edf0;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 18vw;
		height: 100vh;
		transform: translateX(-90%);
		transition: transform 0.3s ease-in-out;
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		z-index: 2000;
	}

	/*  when the nav is open, move it to the left */
	nav:hover {
		transform: translateX(0);
	}
	/*  make the scroll bar rounded with a very light grey color */
	html::-webkit-scrollbar {
		width: 0.5rem;
	}
	html::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}
	html::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 1rem;
	}
	html::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}

	/*  hide the horizontal scrollbar, since we only need the vertical one */
	html {
		overflow-x: hidden;
	}


	/*  on mobile, make the nav full screen */
	@media (max-width: 600px) {
		nav {
			width: 100vw;
			transform: translateX(0);
			transform: translateY(-95%);
		}
		nav:hover {
			transform: translateY(-10%);
		}
	}

	nav a {
		display: block;
		padding: 0.5rem;
		text-decoration: none;
		color: black;
	}
	nav a:hover {
		background-color: #f1f1f1;
	}
	nav a:active {
		background-color: #e1e1e1;
	}
	nav a:focus {
		outline: 2px solid #f1f1f1;
	}

	#navCloseBtn {
		position: fixed;
		top: 0;
		left: 0;
		font-size: 1.5rem;
		font-weight: bold;
		border-radius: 0 0.5rem 0.5rem 0;
		color: #444;
		border: none;
		z-index: 2000;
	}

	#navCloseBtn:hover nav{
		transform: translateY(-95%);
	}

</style>
